{% extends 'base.html' %} 
{% block content %}

<div class="w-33 pa3">
	<h2>{{ contact.name }}</h2>

	<div class="flex">
		<div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {{ contact.address_1 }}<br />
        {% if contact.address_2 %}
          {{ contact.address_2 }}<br />
        {% endif %}
        {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}
      </div>
    </div>

    {% if contact.phone_number %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}

    {% if contact.notes %}
    <h3>Notes</h3>
    <div class="flex">
      <div class="pr2 list">
        {% for note in contact.notes.all %}
        <li>{{note}}</li>
        {% endfor %}
      </div>
    </div>


    {% endif %}

    <p>
      <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>    
      <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a><br>
      <a href="{% url 'add_note' contact_pk=contact.pk %}">Add Note</a>
    </p>


  </div>

{% endblock %}