{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>


<div class="flex flex-wrap">
  {% for album in albums %}
  <div class="w-33 pa3">
    <h2>{{ album.title }}</h2>



    {% if album.artist %}
    <div class="flex">
      <div class="pr2"></div>
      <div>{{ album.artist }}</div>
    </div>
    {% endif %}

    {% if album.released %}
    <div class="flex">
      <div class="pr2"></div>
      <div>{{ album.released }}</div>
    </div>
    {% endif %}

    
  </div>
  {% endfor %}
</div>  
{% endblock %}